:root {
  --red: #d13c9e;
  --green: #3cd19e;
  --blue: #3c6dd1;
}

li {
  list-style: none;
  color: #fff;
  background-color: #000;
  width: 10em;
  height: 0;
  line-height: 2em;
  margin: 0;
  padding: 0 .5em;
  overflow: hidden;
}
li:hover {
  cursor: crosshair;
}
li.show {
  height: 2em;
  margin: .1em 0;
}
#add-to-list {
  width: 12em;
  height: 3em;
  margin-left: 40px;
  padding: 10px;
  background-color: #fff;
  color: #000;
  border: 1px solid #bbb;
  border-radius: 5px;
  outline: none; /* 按钮周围的蓝圈 */
  text-transform: uppercase;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
#add-to-list:hover {
  border-color: #888;
}

/* Fade */
.fade li {
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  transition: all .4s ease-out;
  opacity: 0;
  height: 2em;
}
.fade li.show {
  opacity: 1;
}

/* Slide down */
.slide-fade li {
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  transition: all .4s ease-out;
  opacity: 0;
}
.slide-fade li.show {
  opacity: 1;
}

/* Swingning in */
.swing {
  perspective: 600px; /* 透视 */
}
.swing li {
  opacity: 0;
  transform: rotateY(-90deg);
  -webkit-transition: all 0.5s cubic-bezier(0.36,-0.64,0.34,1.76);
  -moz-transition: all 0.5s cubic-bezier(0.36,-0.64,0.34,1.76);
  transition: all 0.5s cubic-bezier(0.36,-0.64,0.34,1.76);
}
.swing li.show {
  opacity: 1;
  transform: none;
  -webkit-transition: all 0.5s cubic-bezier(0.36,-0.64,0.34,1.76);
  -moz-transition: all 0.5s cubic-bezier(0.36,-0.64,0.34,1.76);
  transition: all 0.5s cubic-bezier(0.36,-0.64,0.34,1.76);
}