html,
body {
  height: 100%;
  margin: 0;
}

.container {
  // width: 100%;
  box-sizing: border-box;
  height: 134px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #000;
  background-color: #2b2b2b;
  display: flex;
}

.box {
  width: 104px;
  height: 104px;
  background-color: #e7e7e7;
  margin-right: 16px;
  padding: 4px;
  border-radius: 10%;
  box-shadow: 
    inset 0 5px white,
    inset 0 -5px #bbb,
    inset 5px 0 #d7d7d7,
    inset -5px 0 #d7d7d7;
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 4px;
  background-color: #333;
  box-shadow: inset 0 3px #111, inset 0 -3px #555;
}


.box1 {

  &-p2 {
    justify-content: center;
  }
  &-p3 {
    justify-content: flex-end;
  }
  &-p4 {
    align-items: center;
  }
  &-p5 {
    justify-content: center;
    align-items: center;
  }
  &-p6 {
    justify-content: flex-end;
    align-items: center;
  }
  &-p7 {
    align-items: flex-end;
  }
  &-p8 {
    justify-content: flex-end;
    align-items: flex-end;
  }
  &-p9 {
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.box2 {

  &-p1 {
    justify-content: space-between;
  }
  &-p2 {
    flex-direction: column;
    justify-content: space-between;
  }
  &-p3 {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &-p4 {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  &-p5 {
    .item:nth-child(2) {
      align-self: center;
    }
  }
  &-p6 {
    justify-content: space-between;
    .item:nth-child(2) {
      align-self: flex-end;
    }
  }
}

.box3 {

  justify-content: space-between;
  .item {
    &:nth-child(2) {
      align-self: center;
    }
    &:nth-child(3) {
      align-self: flex-end;
    }
  }
}

.box4 {
  justify-content: space-between;
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.box5 {
  justify-content: space-between;
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:nth-child(2) {
      justify-content: center;
    }
  }
}

.box6 {
  justify-content: space-between;
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}