body {
  background: radial-gradient(circle, #fff, #fff 50%, #aaa);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.baymax {
  border-bottom: 1.5em solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -40%);

  &:before {
    content: "";
    width: 12em;
    height: 12em;
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: -6em;
    left: -9em;
    transform: skewX(-4deg);
  }

  &:after {
    content: "";
    width: 12em;
    height: 12em;
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: -6em;
    right: -9em;
    transform: skewX(4deg);
  }
}

.baymax {

  &:before {
    background: linear-gradient(to bottom, #efefef, #efefef 50%, #000 50%, #000);
    background-position: 0 - 100%;
    background-size: 200% 200%;

    animation: blink 6s infinite;
  }

  &:after {
    background: linear-gradient(to bottom, #efefef, #efefef 50%, #000 50%, #000);
    background-position: 0 - 100%;
    background-size: 200% 200%;

    animation: blink 6s infinite;
  }
}

@keyframes blink {
  0%, 50% {
    background-position: 0 100%;
  }
  85%, 95% {
    background-position: 0 75%;
  }
  100% {
    background-position: 0 100%;
  }
}