html {
  background-color: #f5f7f7;
  padding: 20px 0;
}
body {
  margin: 0;
}

@mixin positonAndHover {
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
  }
}

.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;

  .card {
    background: #fff;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);

    display: flex;
    flex-direction: column;
    min-height: 100%; // 使 card 的高度和容器保持一致

    @include positonAndHover;

    .thumb {
      padding-bottom: 60%; // 
      background-size: cover;
      background-position: center center;
    }

    article {
      padding: 20px;
      flex: 1;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h1 {
        font-size: 20px;
        margin: 0;
        color: #333;
      }
      p {
        line-height: 1.4;

        flex: 1;
      }
      span {
        font-size: 12px;
        font-weight: bold;
        color: #999;
        text-transform: uppercase;
        letter-spacing: .05em;
        margin: 2em 0 0 0;
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .band {
    grid-template-columns: repeat(2, 1fr);

    .item-1 {
      grid-column: 1/span 2;
    }
  }
}

@media screen and (min-width: 850px) {
  .band {
    grid-template-columns: repeat(4, 1fr);

    h1 {
      font-size: 25px !important;
    }
  }
}


